
{{ define "main" }}
  <div class="uk-grid-divider uk-child-width-expand@m" uk-grid>
    <div class="uk-width-1-3@m uk-flex uk-flex-column">
      <div class="uk-flex-1"></div>
      <div class="uk-padding">
        <img data-src="images/logo.png" uk-img class="uk-width-small">
        <h1 class="cover-title uk-margin-remove-bottom">Nasi Lemak & Piirakka</h1>
        <p class="uk-text-normal uk-margin-remove-top">Life sucks, eat more</p>

        <h2><a class="text-color-secondary" href="page/about">About</a></h2>
        <div>
          <a class="uk-margin-small-right" href="https://www.linkedin.com/in/jellene-khoh-297571a3/" uk-icon="icon: linkedin"></a>
          <a class="uk-margin-small-right" href="mailto:jellenekhoh@gmail.com" uk-icon="icon: mail"></a>
          <a class="uk-margin-small-right" href="http://github.com/jellene4eva" uk-icon="icon: github"></a>
        </div>
      </div>
    </div>
    <div class="">
      <section class="vh-100 uk-overflow-auto">
        {{ range (where .Site.RegularPages "Section" "posts") }}
          <div class="uk-position-relative">
            {{ .Render "summary-with-image" }}
          </div>
        {{ end }}
      </section>

    </div>
  </div>
    
{{end}}
    
